

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="'个人中心_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/user.css"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">

            <ul class="log_list">
                <li><a class="link_1 on" href="/user/userinfo.html">个人中心</a></li>
                <li><a class="link_4" href="/user/favorites.html">我的书架</a></li>
                <li><a class="link_6" href="/user/comment.html">我的书评</a></li>
                <li><a class="link_7 " href="/user/feedback_list.html">我的反馈</a></li>
                <li><a class="link_8 " href="/user/setup.html">账号设置</a></li>
            </ul>

        </div>
        <div class="my_r">
            <div class="my_info cf">
                <img id="imgLogo" class="user_big_head" src="/images/man.png" />
                <div class="my_info_txt">
                    <p class="my_name" id="my_name"></p>
                    <ul class="my_list">
                        <li class="my_blockchain_address"><i>区块链地址：</i><em class="red" id="blockchain_address"></em></li>
                        <li class="my_blockchain_height"><i>区块链高度：</i><em class="red" id="blockchain_height">0</em><a class="btn_link" href="javascript:getBlockchainHeight()" >更新</a></li>
                        <li class="my_account_balance"><i>账户余额：</i><em class="red" id="accountBalance">0</em>通证<!--<em class="red">+</em><em class="red">0</em>代金券--><a href="/pay/index.html" class="btn_link">立即充值</a>
                        <i> 链上余额：</i><em class="red" id="accountBalanceOnChain">0</em><a class="btn_link" href="javascript:getMyAccountBalance()" >更新</a></li>
                        <li class="token_tx_test"><i>通证地址：</i><input type="text" id="input_token_address" value="0xe6beb4e09e64c0f61ef639944ef97e0ca9a069a7"><a class="btn_link" href="javascript:getInputTokenInfo()" >获取账户通证信息</a></li>
                        <li class="token_tx_test"><i>通证名称：</i><em class="red" id="input_token_name">null</em><i>通证余额：</i><em class="red" id="input_token_balance">0</em></li>
                    </ul>
                    <p>------------原生币转移测试-------------------------------</p>
                    <ul calss="tx_test">
                        <li class="tx_test"><i>接收方账户地址：</i><input type="text" id="to_addrress" value="0x7312F4B8A4457a36827f185325Fd6B66a3f8BB8B"></li>
                        <li class="tx_test"><i>接收方账户余额：</i><em class="red" id="test_account_balance">0</em><a class="btn_link" href="javascript:getTestAccountBalance()" >更新</a></li>
                        <li class="tx_test"><i>转移原生币数量：</i><input type="number" id="tx_value" value="1.0"><a class="btn_link" href="javascript:payWithBlockchain()" >转移</a></li>
                        <li class="tx_test"><i>交易密码：</i><input type="text" id="src_password" value="111111"><a class="btn_link" href="javascript:getAccountPrivateKey()" >显示账户私钥</a></li>
                        <li class="tx_test"><i>账户私钥：</i><em class="red" id="src_private_key">0x</em></li>
                        <li class="tx_test"><i>交易HASH：</i><em class="red" id="tx_hash">0x</em></li>
                    </ul>
                    <p>-----------通证转移测试-------------------------------</p>
                    <ul calss="token_test">
                        <li class="token_test"><i>通证名称：</i><em class="red" id="token_name">null</em>
                            <i>通证余额：</i><em class="red" id="token_balance">0</em><a class="btn_link" href="javascript:getTestTokenBalance()" >更新</a></li>
                        <li class="token_test"><i>转移通证数量：</i><input type="number" id="tx_token_value" value="1.0"><a class="btn_link" href="javascript:payWithToken()" >通证转移测试</a></li>
                        <li class="token_test"><i>交易HASH：</i><em class="red" id="token_tx_hash">0x</em></li>

                    </ul>
                </div>
            </div>
            <div class="my_bookshelf">
                <div class="title cf">
                    <h4 class="fl">
                        我的书架</h4>
                    <a href="/user/favorites.html" class="fr">全部收藏 &gt;</a>
                </div>
                <div class="updateTable">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th class="style">
                                类别
                            </th>
                            <th class="name">
                                书名
                            </th>
                            <th class="chapter">
                                最新章节
                            </th>
                            <th class="time">
                                更新时间
                            </th>
                            <th class="goread">
                                书签
                            </th>
                        </tr>
                        </thead>
                        <tbody id="bookShelfList">


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script type="text/javascript" src="/javascript/user.js"></script>
<script type="text/javascript">
    //网页开始时候加载区块链信息
    //For testnet use only
    //inTokenAddress="0xf2f4eec6c2adfcf780aae828de0b25f86506ffae";
    inTokenAddress="0xc3c6e85820d97477172498ce7aed37b0bb22e67e";//localhost

    inTestAddress="0xa8863fc8ce3816411378685223c03daae9770ebb";//0x968ddf25855f55306f3aa24973d73709d8c743a6
    testAddress="0x7312F4B8A4457a36827f185325Fd6B66a3f8BB8B";//测试通证发送地址
    userAddress=null;
    getBlockchainHeight();

    //查询用户信息
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if(data.data.userPhoto){
                    $("#imgLogo").attr("src",data.data.userPhoto);
                }
                if(data.data.nickName){
                    $("#my_name").html(data.data.nickName);
                }else{
                    $("#my_name").html(data.data.username);
                }

                 //
                $("#blockchain_address").html(data.data.blockchainAddress);
                $("#accountBalance").html(data.data.accountBalance);
                userAddress = data.data.blockchainAddress;


            } else if (data.code == 1001) {
                //未登录
                location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })

    //查询书架列表
    $.ajax({
        type: "get",
        url: "/user/listBookShelfByPage",
        data: {'limit':2},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                var bookShelfList = data.data.list;
                if (bookShelfList.length > 0) {
                    var bookShelfListHtml = "";
                    for (var i = 0; i < bookShelfList.length; i++) {
                        var book = bookShelfList[i];
                        bookShelfListHtml += (" <tr class=\"book_list\" vals=\"291\">\n" +
                            "                            <td class=\"style bookclass\">\n" +
                            "                                <a href=\"/book/bookclass.html?c="+book.catId+"\" >[" + book.catName + "]</a>\n" +
                            "                            </td>\n" +
                            "                            <td class=\"name\">\n" +
                            "                                <a href=\"/book/" + book.bookId + ".html\">\n" +
                            "                                    " + book.bookName + "</a>\n" +
                            "                            </td>\n" +
                            "                            <td class=\"chapter\" valsc=\"291|2037554|1\">\n" +
                            "<a href='/book/" + book.bookId + "/" + book.lastIndexId + ".html'>" + book.lastIndexName + "</a>" +
                            "                            </td>\n" +
                            "                            <td class=\"time\">\n" +
                            "                                " + book.lastIndexUpdateTime + "\n" +
                            "                            </td>\n" +
                            "                            <td class=\"goread\">\n" +
                            "<a href='/book/" + book.bookId + "/" + book.preContentId + ".html'>继续阅读</a>" +
                            "                            </td>\n" +
                            "                        </tr>");
                    }
                    $("#bookShelfList").html(bookShelfListHtml);
                }

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })

    // Access the blockchain to get the highest block
    function getBlockchainHeight(){
        $.ajax({
            type: "GET",
            url: "/contract/listBlockchainHeight",
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                  $("#blockchain_height").html(data.data);
console.log("getBlockchainHeight:", data.data);

                } else if(data.code == 1001){
                    //未登录
                    location.href = '/user/login.html?originUrl='+decodeURIComponent(location.href);

                }else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })

    }

    //获取当前用户通证信息，并更新相应显示
    function getInputTokenInfo(){
        console.log("getMyTokenInfo: userAddress", userAddress);
        var inputTokenAddress = document.getElementById("input_token_address").value;
         console.log("inputTokenAddress:",inputTokenAddress);
         tname = getTokenName(inputTokenAddress);
        tokenBalance = getTokenBalance(inputTokenAddress, userAddress)*1e-18;
        console.log("Returned token name", tname," balance:", tokenBalance);
        $("#input_token_balance").html(tokenBalance);

    }

    // 使用web3j直接对接区块链后台，显示用户原生通证余额
    function getMyAccountBalance(){
        // 使用用户信息显示区块链原生通证余额
    $.ajax({
        type: "GET",
        url: "/user/getAccountBalance",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                $("#accountBalanceOnChain").html(data.data*1e-18);

            } else if(data.code == 1001){
                //未登录
                location.href = '/user/login.html?originUrl='+decodeURIComponent(location.href);

            }else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })
    }

    // 使用用户信息显示区块链原生通证余额
    $.ajax({
        type: "GET",
        url: "/user/getAccountBalance",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                $("#accountBalanceOnChain").html(data.data*1e-18);

            } else if(data.code == 1001){
                //未登录
                location.href = '/user/login.html?originUrl='+decodeURIComponent(location.href);

            }else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })


    //Hard coded to show the testAccount balance
    function getTestAccountBalance(){
    var toAddress = document.getElementById("to_addrress").value;
        $.ajax({
            type: "GET",
            url: "/contract/getAccountBalance",
            data: {'accountAddress':toAddress},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                // 原生币，需要减去decimal数量
                  $("#test_account_balance").html(data.data*1e-18);
console.log("getTestAccountBalance", testAddress, ".data:", data.data);
                } else if(data.code == 1001){
                    //未登录
                    location.href = '/user/login.html?originUrl='+decodeURIComponent(location.href);

                }else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })
    }

    // 使用web3j直接对接区块链后台，显示通证名称
    function getTokenName(inputTokenAddress){
        $.ajax({
            type: "GET",
            url: "/contract/getTokenName",
            data: {'tokenAddress':inputTokenAddress},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                  $("#token_name").html(data.data);
                  $("#input_token_name").html(data.data);

                } else if(data.code == 1001){
                    //未登录
                    location.href = '/user/login.html?originUrl='+decodeURIComponent(location.href);

                }else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })

    }

    function getTestTokenBalance(){
        var inputTokenAddress = document.getElementById("input_token_address").value;
        tokenBalance = getTokenBalance(inputTokenAddress, testAddress)*1e-18;
        console.log("inputTokenAddress:",inputTokenAddress, " bal ", tokenBalance);
    }

    // 使用web3j直接对接区块链后台，显示用户原生通证余额
    function getTokenBalance(inTokenAddress, inAccountAddress){
        $.ajax({
            type: "GET",
            url: "/contract/getTokenBalance",
            data: {'tokenAddress':inTokenAddress, 'accountAddress':inAccountAddress},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                console.log("getTokenBalance Address:", inTokenAddress, "addr:", inAccountAddress," data:", data.data);
                  if ( inAccountAddress == userAddress ){
                    //Update the user account info
                    $("#input_token_balance").html(data.data*1e-18);
                  }else{
                    //Update test account info
                    $("#token_balance").html(data.data*1e-18);

                  }

                } else if(data.code == 1001){
                    //未登录
                    location.href = '/user/login.html?originUrl='+decodeURIComponent(location.href);

                }else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })

    }

    // 测试函数，使用用户的账户名称和输入密码，解锁私钥并显示
    function getAccountPrivateKey(){
         var inPassword = document.getElementById("src_password").value;
          console.log("getAccountPrivateKey with password:", inPassword);
        $.ajax({
            type: "GET",
            url: "/user/getAccountPrivateKey",
            data: {'password':inPassword},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $("#src_private_key").html(data.data);
                    //显示交易HASH
                    console.log("getAccountPrivateKey.data:", data.data);

                } else if (data.code == 1001) {
                    //未登录
                    location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })

    }

    // 使用web3j直接对接区块链后台，测试原生通证交易
    // 充值功能，默认使用用户自己的账户地址为发送地址，输入地址为目标地址
    // 将来为获取通证的过程
    // 向测试账户地址发送系统原生币
    function payWithBlockchain() {
     var txValue = document.getElementById("tx_value").value;
     var inPassword = document.getElementById("src_password").value;
     var desAddress = document.getElementById("to_addrress").value;

     console.log("toAddress:",desAddress, " value:", txValue, "pass:", inPassword);
        $.ajax({
            type: "POST",
            url: "/user/payWithBlockchain",
            data: {'toAddress': desAddress, 'password':inPassword, 'value': txValue},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $("#tx_hash").html(data.data);
                    //显示交易HASH
                    console.log("payWithBlockchain.data:", data.data);
                    console.log("ID userAddress:", userAddress);//Set in getUserInfo
                } else if (data.code == 1001) {
                    //未登录
                    location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })

    }

    // 使用web3j直接对接区块链后台，测试合约通证交易
    // 默认使用用户自己的账户地址为发送地址，输入地址为目标地址
    function payWithToken() {
        //Get the token info from input box
        var txValue = document.getElementById("tx_token_value").value;
        var inputTokenAddress = document.getElementById("input_token_address").value;
        var inPassword = document.getElementById("src_password").value;
        var desAddress = document.getElementById("to_addrress").value;

        console.log("payWithToken inputTokenAddress:",inputTokenAddress);
        console.log("payWithToken toAddress:",desAddress, " value:", txValue);

        $.ajax({
            type: "POST",
            url: "/user/payWithToken",
            data: {
            'toAddress': desAddress,
            'tokenAddress': inputTokenAddress,
            'password':inPassword,
            'value': txValue},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    //显示交易HASH
                    $("#token_tx_hash").html(data.data);
                    console.log("payWithToken.TXHASH:", data.data);

                } else if (data.code == 1001) {
                    //未登录
                    location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })

    }
</script>
</body>
</html>
