

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="'充值_'+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body class="">

<div th:replace="common/top :: top('')">
</div>
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_r">
            <div class="my_info cf">
                <img id="imgLogo" class="user_big_head" src="/images/man.png" />
                <div class="my_info_txt">
                    <p class="my_name" id="my_name">
                    </p>
                    <ul class="my_list">
                        <li class="my_blockchain_address"><i>区块链地址：</i><em class="red" id="blockchain_address"></em></li>
                        <li class="my_blockchain_height"><i>区块链高度：</i><em class="red" id="blockchain_height">0</em><a class="btn_link" href="javascript:getBlockchainHeight()" >更新</a></li>
                        <li class="my_gold"><i>账户余额：</i><em class="red" id="accountBalance">0</em>通证<!--<em class="red">+</em><em class="red">0</em>代金券--><a href="/pay/index.html" class="btn_link">立即充值</a></li>
                        <li class="my_gold"><i>链上余额：</i><em class="red" id="accountBalanceOnChain">0</em><a class="btn_link" href="javascript:getAccountBalance()" >更新</a></li>
                        <li class="my_gold"><i>通证名称：</i><em class="red" id="token_name">0</em><a class="btn_link" href="javascript:getTokenName()" >更新</a></li>
                        <li class="my_gold"><i>通证余额：</i><em class="red" id="token_balance">0</em><a class="btn_link" href="javascript:getTokenBalance()" >更新</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/pay.js" type="text/javascript"></script>

<script type="text/javascript">

    //查询用户信息
    $.ajax({
        type: "get",
        url: "/user/userInfo",
        data: {},
        dataType: "json",
        success: function (data) {
            if (data.code == 200) {
                if(data.data.nickName){
                    $("#my_name").html(data.data.nickName);
                }else{
                    $("#my_name").html(data.data.username);
                }

                $("#accountBalance").html(data.data.accountBalance);

            } else if (data.code == 1001) {
                //未登录
                location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

            } else {
                layer.alert(data.msg);
            }

        },
        error: function () {
            layer.alert('网络异常');
        }
    })

    $("#ulZFWX").find("li").click(function () {

        var payType = $("#ulPayType").find("li.on").attr("valp");

        // 调用区块链支付
        if(payType == 3){
             //layer.alert("墨客支付暂未开通，敬请期待");
             return ;
        }

        $("#pValue").val($(this).attr("vals"));

        $("#payform").submit();

    });

    // 使用web3j直接对接区块链后台，使用用户原生通证支付
    function payAccountBalance(){
        $.ajax({
            type: "GET",
            url: "/contract/getAccountBalance",
            data: {'accountAddress':inTestAddress},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                  $("#accountBalanceOnChain").html(data.data);
console.log("data.data:", data.data);

                } else if(data.code == 1001){
                    //未登录
                    location.href = '/user/login.html?originUrl='+decodeURIComponent(location.href);

                }else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('网络异常');
            }
        })

    }
</script>


</body>
</html>